:root{

    /* fonts */
    ---main_font:"Open Sans", sans-serif;
    ---header_font: Nunito, sans-serif;

    /* colors */
    ---main_color:#4d8cf5;
    ---header_color: #333333;
    ---sub_header: #5c5c5c;

    /* font-weight */
    ---seven: 700;
    ---six: 600;
    ---four: 400;

}



.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55rem;
    padding: 8rem 0rem;
    gap:2rem;
}

.contact-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-heading {
    font-size: 28px;
    font-weight: var(---seven);
    color: var(---header_color);
    font-family: var(---header_font);

}

.sub-heading {
    font-weight: var(---four);
    font-family: var(---main_font);
    font-size: 18px;
    font-family: var(---sub_header);
    font-style: italic;
}

.purple-line {
    width: 5rem;
    border: 1px solid var(---main_color);
    z-index:2;
}

.contact-form{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.full-name{
    display: flex;
    gap:2rem;
    width: 100%;
    
}

.contact-form input{
    width: 100%;
    height: 3rem;
    padding: 0rem 1rem;
    border: 1px solid var(---sub_header);
    font-size: 14px;
    font-family: var(---main_font);
    font-weight: var(---four);
    color: var(---header_color);
    border-color:#c9c7c7
}


.contact-form input:focus{
    outline-color: var(---main_color);
}

.contact-form textarea:focus{
    outline-color: var(---main_color);
}

.contact-form textarea{
    padding: .5rem 1rem;
    border-color:#c9c7c7

}

.full-name input{
    width: 50%;
}

.contact-form button{
    width: 12rem;
    align-self: center;
    height: 3rem;
    color: white;
    font-size:15px;
    font-weight: var(---four);
    font-family: var(---main_font);
    background-color: var(---main_color);
    border-radius: .5rem;
    border: none;
}

.contact-form button:hover{
    background-color: var(---header_color);
}





