:root {

    /* fonts */
    ---main_font: "Open Sans", sans-serif;
    ---header_font: "Nunito", sans-serif;

    /* colors */
    ---main_color: #4d8cf5;
    ---header_color: #333333;
    ---sub_header: #5c5c5c;

    /* font-weight */
    ---seven: 700;
    ---six: 600;
    ---four: 400;

}




.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    align-items: center;
    transition: 1s ease-in-out;
    z-index: 10;

}



.nav-container.active {
    background-color: rgba(0, 0, 0, 0.97);
    transform: translateY(2rem);
    top: -2rem;
}

.nav-container.active {
    background-color: rgba(0, 0, 0, 0.84);
    transform: translateY(2rem);
    top: -2rem;
}

.nav-container.fixed {
    position: fixed;
    transition: .5s ease-in-out;
}

.desktop-nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items:  center;
    padding:1rem 1rem
}

.logo {
    font-size: 2rem;
    font-family: var(---main_font);
    font-weight: var(---seven);
    color: white;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-items li {
    list-style: none;
    font-size: 15px;
    font-family: var(---main_font);
    font-weight: var(---six);
    color: white;
    cursor: pointer;
    transition: .5s ease;
}

.nav-items li a {
    text-decoration: none;
}

.nav-items li:hover {
    color: var(---main_color)
}

.nav-items li:active {
    color: var(---main_color)
}

.hamburger-wrapper,
.mobile-nav {
    display: none;
}

@media (max-width:1200px) {

    .desktop-nav{
        width: 65%;
    }
}


@media (max-width:992px) {

    .nav-container {
        width: 100%;
        justify-content: space-between;
       
    }

    .nav-container.active {
        background-color: rgba(0, 0, 0, 0.84);
        transform: translateY(2rem);
        top: -2rem;
    }

    .logo {
        margin-left: 10%;
    }

    .hamburger-wrapper {
        display: block;
        position: absolute;
        right: 10%;
        top: 1rem;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        align-items: center;
        z-index: 12;
    }

    .nav-container .nav-items.active {
        
        transform: translateY(2rem);
        top: 3.1rem;
       background-color: rgba(0, 0, 0, 0.97);
    }
    

   


    .nav-container .hamburger-wrapper.active{
        margin-top:1rem;
        transition: all .3s ease-in-out
    }


    .mobile-nav {
        display: block;


    }

    .desktop-nav {
        display: none;
    }

    .nav-items {
        z-index: 10;
        top: 15%;
        width: 80%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 2rem;
        margin-right: 10%;
        animation: navSlide .5s ease-out alternate;
        animation-fill-mode: both;
        transition: all 4s ease-in-out

    }

    .nav-items.active {
        transform: translateY(1rem);
        min-height: 35rem;
        background-color: rgba(0, 0, 0, 0.8);
      
    }


    


    @keyframes navSlide {
        from {
            height: 0rem;
            opacity: 0;

        }

        to {

            height: 35rem;
            opacity: 1;
        }
    }
















}